<app-header [isNotLogin]="isNotLogin" [headertitle]="headertitle"></app-header>




<ion-content>

  <ion-list lines="full">

    <ion-item *ngFor="let usuario of listaUsuario" (click)="iradetalle(usuario)" detail>
      
      <ion-avatar slot="start">

        <img [src]="usuario.imagen" alt="">

      </ion-avatar>

      <ion-label>{{usuario.nombre}}</ion-label>

        <ion-icon (click)="iradetalle(usuario)"></ion-icon>

    </ion-item>

    
  </ion-list>







</ion-content>
