<app-header [isNotLogin]="isNotLogin" [headertitle]="headertitle"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>

          <ion-card-subtitle>{{usuario}}</ion-card-subtitle>
          <ion-card-title>Bienvenido a <b>TeLlevoApp</b></ion-card-title>
        </ion-card-header>
      </ion-card>
      
      <ion-card>
        
        <ion-card-subtitle><h3>Lorem ipsum dolor</h3></ion-card-subtitle>
        
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
</ion-content>
